
<style>


a:link {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}



a:visited {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}



</style>